<%= form_with(model: constituent) do |form| %>
  Name: <input name="constituent[name]" value="<%= @constituent.name %>"><br>
  Description: <%= text_area_tag("constituent[description]", @constituent.description, size: "40x3") %><br>
  <% if constituent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(constituent.errors.count, "error") %> prohibited this constituent from being saved:</h2>

      <ul>
        <% constituent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
