<p style="color: green"><%= notice %></p>

<h1>Constituents</h1>

<div id="constituents">
  <% @constituents.each do |constituent| %>
    <%= render constituent %>
    <p>
      <%= link_to constituent.name, constituent %>
    </p>
  <% end %>
</div>

<%= link_to "New constituent", new_constituent_path %>
<%= link_to "Back to Home", root_path %>