<%= form_with(model: herb) do |form| %>
  Latin Name: <input name="herb[latin_name]" value="<%= @herb.latin_name %>"><br>
  Common Names: <input name="herb[common_names]" value="<%= @herb.common_names&.join(' ') %>"><br>
  Description: <%= text_area_tag("herb[description]", @herb.description, size: "40x3") %><br>
  Constituents:
  <% @all_constituents.each do |constituent| %>
    <span>
      <label for="constituents[<%= constituent.id %>]"><%= constituent.name %></label>: 
      <%= check_box_tag ("constituents[#{constituent.id}]") %>
    </span>
  <% end %>
  <% if herb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(herb.errors.count, "error") %> prohibited this herb from being saved:</h2>

      <ul>
        <% herb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
