<p style="color: green"><%= notice %></p>

<%= render HerbComponent.new(herb: @herb) %>

<div>
  <%= link_to "Edit this herb", edit_herb_path(@herb) %> |
  <%= link_to "Back to herbs", herbs_path %>

  <%= button_to "Destroy this herb", @herb, method: :delete %>
</div>
